

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'gameApp/index.css' %}">



<body>


<h1>Welcome </h1>
<br>
{% block content %}
{# <button><a href="{% url 'newuser' %}">createuser</a></button> #}
{# <button><a href="{% url 'login' %}">login here</a></button> #}

<a href="{% url 'newuser' %}">createuser</a><br>
<a href="{% url 'login' %}">login here</a>


{% endblock content %}



<br>


</body>
</html>